//mapas

//standar

$standar: (
    color-standar: blue
    bg-standar: whitesmoke
    width-standar: 150px
);


//premiun
$premiun: (
    color-premiun: gold
    bg-premiun: rgb(78, 58, 58)
    width-premiun: 200px
);